body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(224, 30, 30);
  margin: 30px;
}

div div {
  background-color: #FFF;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.box: {
  a {
    display: block;
    padding: 10px;
  }
}